*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    width: auto;
    height: 100vh;
    align-items: center;
    background-color: rgba(167, 211, 211, 0.512);
}

.myForm{
    background-color: rgb(181, 197, 203);
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 20px 20px 60px #00000041;
}
h1{
    color: orangered;

}
input[type="text"],input[type="password"]{
    border-radius: 15px;
    border: none;
    padding: 7px;
    padding-left: 30px;

}
.loginBtn{
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 5px;
    background-color: orangered;
    color: white;
}

.loginBtn:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.inputWithIcon {
    position: relative;
}

.icon {
    position: absolute;
    left:8px; /* Adjust the left position as needed */
    top: 50%;
    transform: translateY(-50%);
    color: #666; /* Adjust the color as needed */
}

.eyeIcon{
    position: absolute;
    right: 14px;
    top:0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.title{
    max-width: 450px;
    text-align: center;
    margin: auto;
    position: relative;

}

.title::before{
    content: "";
    width: 90px;
    height: 0.5px;
    display: block;
    background: rgb(129, 125, 125);
    position: absolute;
    top: 50%;
    left: 0;
}
.title::after{
    content: "";
    width: 90px;
    height: 0.5px;
    display: block;
    background: rgb(129, 125, 125);
    position: absolute;
    top: 50%;
    right: 0;
}

a{
    color: orangered;
    text-decoration: none;
}

.social{
    display: flex;
    justify-content: center;
    gap: 1rem;    
    font-size:  1.4rem;
}

.linkedin{
    color: #0a66c2;
}
.facebook{
    color: #1877f2;
}
.twitter{
    color:#00000091
}

.image{
    width: 20%;
    height: 64.17vh;
    background-color: #658bb2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 20px 20px 60px #00000041;

}

.image h1, image p{
    color: orangered;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 0.5rem;
}

.image p{
    color: white;
    margin-left: 3rem;
    margin-top: 1.5rem;
}

.image hr{
    max-width: 270px;
    margin-left: 1.2rem;
}